
body{
    font-family: sans-serif;
    background-color: hsl(154, 50%, 30%);
    color:white;
    font-size: 125%;
    text-align: justify;
}

h1{
    text-transform: uppercase;
    text-shadow: 5px 5px black;
    text-align: left;
}

p.biografia{
    background-color: white;
    color: black;
    border: black 10px solid;
    border-radius: 30px;
    margin-left: 25%;
    margin-right: 25%;
    padding: 20px;

}

p.Estilo-A{
    background-color:hsl(17, 50%, 45%);
    border: hsl(17, 100%, 25%) 20px solid;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 10px;
    margin-right: 50%;
}

p.Estilo-B{
    background-color:hsl(34, 50%, 45%);
    margin-left: 50%;
    padding: 5px;
    border: hsl(34, 100%, 25%) 15px solid;
}

p.Estilo-C{
    background-color: hsl(207, 100%, 25%);
    border: hsl(207, 50%, 45%) 5px dashed;
    margin-left:25%;
    margin-right:25%;
    padding: 20px;

}