body {
  background-color: hsl(15,20%,50%);
}

header {
  background-color: hsl(16, 15%, 55%);
}

section {
  background-color: hsl(16, 15%, 65%);
}

footer {
  background-color: hsl(16, 15%, 55%);
}

p {
  color: white;
  border: 2px brown solid;
}
